* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    cursor: none;
}

@font-face {
    font-family: 'Bespoke';
    src: url('font/Bespoke-4QjqRUPDSU.eot');
    src: url('font/Bespoke-4QjqRUPDSU.eot?#iefix') format('embedded-opentype'),
        url('font/Bespoke-4QjqRUPDSU.woff') format('woff'),
        url('font/Bespoke-4QjqRUPDSU.ttf') format('truetype'),
        url('font/Bespoke-4QjqRUPDSU.svg#Bespoke-4QjqRUPDSU') format('svg');
}

/*header section*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    background-color: black;
    z-index: 1000;
}

.site-title {
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-family: 'Bespoke', sans-serif;
}

.nav-links {
    font-family: 'Bespoke', sans-serif;
    font-size: 16px;
    padding: 0 15px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

.nav-links:hover {
    color: #FF395D;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

body {
    background: radial-gradient(#333, #111);
}

/*title section*/
#tsparticles {
    position: relative;
    z-index: -1;
}

.hero {
    height: 100vh;
    min-height: 30em;
    padding: 2.5em;
    color: white;
    position: relative;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    user-select: none;
    text-shadow: 0.5em 0.5em 2em black;
}


.title span:nth-child(1) {
    font-family: "arbotek", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: clamp(2em, 6vw, 7em);
    line-height: 1em;
    text-transform: uppercase;
    color: #FF395D;

}

.title span:nth-child(2) {
    font-family: "arbotek", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1em, 1vw, 2em);
    line-height: 1em;
}

.scroll {
    font-family: 'Bespoke';
    color: white;
    position: absolute;
    left: 50%;
    bottom: 1em;
    transform: translateX(-50%);
    animation: pilse 4s linear infinite;
}

/*card section*/
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8em;
    padding: 5em;
}


.circle-image {
    position: relative;
    left: 50%;
    top: 20%;
    margin-bottom: 3em;
    transform: translate(-50%, -50%);
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
}

.card {
    width: 23em;
    height: 30em;
    color: white;
    background-color: #222;
    border-radius: 1em;
    padding: 5em 2em;
    box-shadow: 0.5em 0.5em 2em black;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    text-align: left;
}

.card h2 {
    font-family: "stevie-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 2em 0;
    font-size: 2em;
    margin: 0.5em 0;
    line-height: 1em;
    color: #FF395D;
    text-align: left;
}

.card p {
    font-family: "stevie-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    text-align: left;
}

.outline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 40px);
    width: 110%;
    height: 110%;
    border: 2px solid white;
    border-radius: 2em;
}

/*button section*/
#back {
    font-family: 'Bespoke';
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    border: 2px white solid;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50px;
}

#back:hover {
    border: 2px #FF395D solid;
}

/*cursor*/
.cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1002;
}

/*mobile*/
@media (max-width: 600px) {
    header {
        padding: 0 2vw;
    }

    .site-title {
        font-size: 18px;
    }

    .nav-links {
        font-size: 8px;
        padding: 5px;
    }

    .hero {
        padding: 1em;
    }

    .title span:nth-child(1) {
        font-size: clamp(1.5em, 6vw, 5em);
    }

    .title span:nth-child(2) {
        font-size: clamp(0.8em, 1vw, 1.5em);
    }

    .scroll {
        font-size: 14px;
        bottom: 0.5em;
    }

    .content {
        padding: 2em;
    }

    .cards {
        gap: 2em;
        padding: 2em;
    }

    .circle-image {
        position: relative;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 8em;
        height: 8em;
        border-radius: 50%;
        object-fit: cover;
    }

    .card {
        width: 100%;
        height: auto;
        margin: 1em 0;
        padding: 2em;
        position: relative;
    }

    .card h2 {
        font-size: 1.5em;
        margin: 1em 0;
    }

    .card p {
        font-size: 14px;
    }

    .outline {
        transform: translate3d(-50%, -50%, 20px);
    }

    #back {
        font-size: 14px;
        bottom: 10px;
        right: 10px;
        padding: 8px 12px;
    }
}