* {
    padding: 5vh;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

h1 {
    text-align: center;
    color: orange;
}

.bg {
    display: block;
    position: relative;
    overflow: hidden;
}


.image-link {
    position: relative;
}

.image-link img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-link img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}