* {
    padding: 0;
    margin: 0;
}

body {
    color: black;
    font-size: 4em;
    text-align: center;
}

.circle {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
}